<!-- <p>list-veg works!</p>
<h1>List All Menu</h1>
<table class="table table-bordered">

    <thead>
        <tr>
            <th>s.no</th>
            <th>Dish Name</th>
            <th>Price</th>
            <th>Hotel Name</th>
           
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let menu of menus;">
            
            <td>{{menu.id}}</td>
            <td>{{menu.dishName}}</td>
            <td>{{menu.price}}</td>
            <td>{{menu.hotelName}}</td>
            <td><app-delete-dish></app-delete-dish></td>
            
        </tr>
    </tbody>
</table> -->